body{
    background-image: url("../images/trianglify.svg");
    color: #5a5a5a !important;
    font-family: 'Roboto', sans-serif !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.box-custom{
    background-color: rgba(255, 255, 255, 0.85); /*#ebe8e3;*/
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 12px -2px rgba(201,201,201,1);
    -moz-box-shadow: 10px 10px 12px -2px rgba(201,201,201,1);
    box-shadow: 10px 10px 12px -2px rgba(201,201,201,1);
    padding: 30px !important;
}

.box-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color:#1c1c24;
    font-size: 24px !important;
    line-height: 1.2;
}
div.disabled
{
    pointer-events: none;

    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
}

.respuesta {
    color: #545454;
}